{% extends 'base.html' %}
{% block content %}

    <div class="container mt-3">
      <div class="row">
        {% for cal in cals %}
        <div class="" style="width: 18rem;">
          <div class="">
            <h5 class=" alert alert-danger text-center">{{cal.totals}}</h5>
            <p class="alert alert-primary text-center">
              Calories: {{cal.calories}} <br>
              Protein: {{cal.protien}} <br>
              Carbs: {{cal.carbs}} <br>
              Fats: {{cal.fat}} <br>
            </p>
          </div>
        </div>
        {% endfor %}
        {% for plan in plans %}
        <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="alert alert-primary text-center">{{plan.title}} <br>{{plan.time}}</h3>
              <p class="card-text mt-3 alert alert-warning">{{plan.meal1}}</p>
              <p class="card-text alert alert-warning">{{plan.meal2}}</p>
              <p class="card-text alert alert-warning">{{plan.meal3}}</p>
            </div>
        </div>
      </div>
    {% endfor %}
  
</div>
</div>



{% endblock %}