{% extends 'base.html' %}
{% block content %}


<main>
    <div class="container">
        <p class="m-3 fst-italic fs-5 border border-dark rounded p-2">Commercial diets often have unbalanced nutritional components, which trigger quick, but only short-term, weight loss.

            These nutritional imbalances can also cause other negative health outcomes, depending on which nutrients you are lacking in your diet.
            
            This can result in a cycle of yo-yo dieting in an attempt to keep the weight off, and this pattern can lead you to regain all the weight you have lost, and perhaps even more.
            
            It is important to have a balanced diet, with the right amounts of different macro and micronutrients. Having a balanced diet plan leads to sustainable long-term weight loss and optimal health.</p>
    </div>
    <h1 class="text-center p-2">Best diet plan with respect to your goals.</h1>

    <div class="row m-3 container">
        <div class="col-6 col-sm-4 col-md-4">
            <div class="card"> 
              <img src="\media\plans\weighloss.jpg" class="rounded"  alt="..." height="300px" >
              <div class="card-body">
                <h3 class="card-title text-center">Weight loss</h3>
                <hr>
                <a href="/dietplan" class="btn btn-primary text-center">Click Here</a>
              </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4">
            <div class="card"> 
              <img src="\media\plans\musclegain.jpg" class="rounded"  alt="..." height="300px" >
              <div class="card-body">
                <h3 class="card-title text-center">Muscle gain</h3>
                <hr>
                <a href="/dietplan" class="btn btn-primary text-center">Click Here</a>
              </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <p class="fs-3 fw-bold">
            Personalised diet plans available as well.
        </p>
        <div class="container">
            <p class="m-3 fst-italic fs-5 border border-dark rounded p-2">We will create a bespoke diet plan to help you achieve your goals.

                We need to understand your health status, medical history, food preferences and previous weight loss attempts, to help us shape the right diet plan for you.
                
                The way you metabolise food, and break down food into key nutrients is personal to you. Many different factors affect how you metabolise food, including your gender, age, health and stress.
                
                Your gut health is also hugely important, and some functional tests can give us clues about how food is metabolised in your body, and if you are struggling with malnutrition of certain key vitamins and minerals.
                
                Exercise and lifestyle can also affect your metabolism differently. The type, intensity and duration of exercise, as well as your everyday routine are important factors that affect weight loss, and will be integrated into your bespoke diet plan.
                
                It is important for us to take these factors into account, to create a plan designed for your body to help you manage your weight and reach your health goals.</p>
        </div>
        <a href="/dietplan" class="btn btn-primary ">Let us know your goals</a>
    </div>

</div>
</main>







{% endblock %}